<div id="tab1" class="tabcontent">
    <div class="form">
       <form action="<!--{$addDoUrl}-->" method="post" id="cus_cate_add_form" name="cus_cate_add_form" class="ui-form">
	        <input type="hidden" name="data[pid]" value="{$pid}">
            <div class="form_row">
            	 <label><span class="ui-form-required">*</span>名称：</label>
                <input type="text" name="data[name]" id="name" datatype="*">
				<div class="info"><span class="ui-form-other"></span></div>
            </div>
            <div class="form_row">
            	 <label><span class="ui-form-required">*</span>类型：</label>
                <input type="text" name="data[obj_type]" id="obj_type" datatype="*">
				<div class="info"><span class="ui-form-other"></span></div>
            </div>
            <div class="form_row">
            	 <label><span class="ui-form-required">*</span>类型ID：</label>
                <input type="text" name="data[obj_id]" id="obj_id" datatype="*">
				<div class="info"><span class="ui-form-other"></span></div>
            </div>
            <div class="form_row">
            	<label><span class="ui-form-required"></span>排序：</label>
                <input type="text" name="data[corder]" id="corder" >
				<div class="info"><span class="ui-form-other"></span></div>
            </div>

            

            <div class="ui-form-item">
                <input type="submit" id="btn_submit" value="保存"/>
            </div> 
        </form>
       <script type="text/javascript">
				$(function(){
					syform_val('cus_cate_add_form');
                    SetValue(cus_cate_add_form["data[is_ok]"],"1");

				});
		</script>
    </div>
</div>

    
