<div id="tab1" class="tabcontent">

<form action="<!--{$editDoUrl}-->" method="post" id="cus_cate_edit_form" name="cus_cate_edit_form" class="ui-form">
		<input type="hidden" id="id" name="id" value="<!--{$info['id']}-->"  />
	     <div class="form_row">
                <label><span class="ui-form-required">*</span>名称：</label>
				<input type="text" name="data[name]" id="name" value="{$info['name']}" datatype="*">
				<div class="info"><span class="ui-form-other"></span></div>
            </div>

        <div class="form_row">
            <label><span class="ui-form-required">*</span>类型：</label>
            <input type="text" name="data[obj_type]" id="obj_type" value="{$info['obj_type']}" datatype="*">
            <div class="info"><span class="ui-form-other"></span></div>
        </div>
        <div class="form_row">
            <label><span class="ui-form-required">*</span>类型ID：</label>
            <input type="text" name="data[obj_id]" id="obj_id" value="{$info['obj_id']}" datatype="*">
            <div class="info"><span class="ui-form-other"></span></div>
        </div>
        <div class="form_row">
            <label><span class="ui-form-required"></span>排序： </label>
            <input type="text" name="data[corder]" id="corder" value="{$info['corder']}">
            <div class="info"><span class="ui-form-other"></span></div>
        </div>

    <div class="ui-form-item">
        <input type="submit" id="btn_submit" value="保存"/>
    </div>
</form>
	
	
</div>	




			<script type="text/javascript">
				$(function(){
					syform_val('cus_cate_edit_form');

				});
			</script>
 

  