<form action="<!--{$editDoUrl}-->" method="post" id="cate_edit_form" name="cate_edit_form" class="ui-form">
		<input type="hidden" id="id" name="id" value="<!--{$info['id']}-->"  />
	     <div class="form_row">
                <label><span class="ui-form-required">*</span>名称：</label>
				<input type="text" name="data[name]" id="name" value="{$info['name']}" datatype="*">
				<div class="info"><span class="ui-form-other"></span></div>
            </div>

            <div class="form_row">
                <label>状态：</label>
                <input class="ui-radio" type="radio" name="data[is_ok]" id="is_ok" value="1"  datatype="*" />正常 
		 		<input class="ui-radio" type="radio" name="data[is_ok]" id="is_ok" value="0"  />禁用
				<div class="info"><span class="ui-form-other"></span></div>
            </div>
			
            <div class="form_row">
                <label>排序：</label>
                <input  class="form_input_200" type="text" name="data[node_order]" id="node_order" value="{$info['node_order']}" />  
		 		<div class="info"><span class="ui-form-other"></span></div>
            </div>
	</div>
 
	
	
</div>	

<div class="ui-form-item">
        <input type="submit" id="btn_submit" value="保存"/>
    </div> 
</form>


			<script type="text/javascript">
				$(function(){
					syform_val('cate_edit_form');
                    SetValue(cate_edit_form["data[is_ok]"],"<!--{$info['is_ok']}-->");
                    SetValue(cate_edit_form["data[code]"],"<!--{$info['code']}-->");
				});
			</script>
 

  