<div class="doclist1">
    <ul>
    	{loop $resources  $k $v}
        	<!--{eval $url = "/info/{$v['doc_id']}";$target="_blank";}-->
 		<li data-options='{"doc_id":"{$v['doc_id']}"}'>
	          <div class="doc_typeIcon" style="cursor: move;"><i class="iconL_{$v['doc_ext_name']}"></i></div>
	          <div class="doc_name"><a href="{$url}" target="{$target}">{$v['doc_title']}</a></div>
	          <div class="doc_desc" >上传  <a href="{HTTP_DODOEDU}/{$v['uid']}/Space/Index" target="_blank">{$v['user_name']}</a>
			  {if $v['source'] == 'down'} | 下载时间：{date('Y-m-d',$v['created_at'])}
			  {elseif $v['source']=='fav'} | 收藏时间：{date('Y-m-d',$v['created_at'])}
			  {elseif $v['source']=='upload'} | <!--{eval echo Models_ResourceFile::init()->dateSpan($v['created_at'])}-->
			  {/if}
			  |  大小:<!--{eval echo Models_Resource::init()->bytesToSize($v['file_size'])}--> 
			   | 来源:  {$source_arr[$v['source']]}
			  | 状态：
						{if $v['source']=='upload'}
						 	{if $v['doc_status']==1  and $v['is_hidden']}
							    <span>私有
				  				{if $v['is_ok']==1}
				  				(<a href="javascript:;" data-url="/user/set_public/id/{$v['doc_id']}" name="set_public" >设为公开</a>)
				  				{/if}
								</span>
				            {elseif ($v['doc_status']==1 or $v['doc_status']==3) and $v['is_ok']==1  and !$v['is_hidden'] }
				  				<span>公开</span>
				  			{else}
				  				<span style="color:{$color[$v['doc_status']]}">
						        {$status[$v['doc_status']]}
						 		</span>
				  			{/if}
				         {else}
				  				私有
						 {/if}
				<span class="reader_count">
				  {if $v['source']=='down'}
						(下载量{$v['doc_downs']})
						{elseif $v['source']=='fav'}
						(收藏量 {$v['doc_favs']})
						{else}
						(浏览量 {$v['doc_views']})
						{/if}</span>
			  <span class="docRate f-fr">

				  {if $v['doc_remark_val'] and $v['doc_remarks']}
	                  <!--{eval $remark = $v['doc_remark_val']/$v['doc_remarks'];  echo Models_ResourceFile::init()->getStar($v['doc_remark_val']/$v['doc_remarks']);}-->
				  		{$remark}
				  {else}
	                  <!--{eval  echo Models_ResourceFile::init()->getStar(0);}-->0
				  {/if}
					  <em class="f-fs12 s-fcGray"></em>
					  {if $v['source']=='upload' and $v['doc_status']!=0}
					  <a href="javascript:;" data-url="/user/del/s/upload/id/{$v['doc_id']}" class="del" title="删除"></a>
					  {if $v['doc_status']==1 or $v['doc_status']==3}
					  <a href="javascript:;" data-url="/user/editResoruce/id/{$v['doc_id']}" class="updata" title="编辑"></a>
					  {/if}
					  {elseif $v['source'] == 'fav'  or $v['source']=='down'}
					  <a href="javascript:;" data-url="/user/del/s/{$v['source']}/id/{$v['doc_id']}" class="del" title="删除"></a>
					  {/if}
					  
	            </span>                            
	          </div>
	      </li>
									  
		{/loop}
        
    </ul>
</div>