<div class="main">
 <div class="warp">
     <div class="mainlef">
          <!--最新上传资源开始-->
          <div class="module_titLine">
            <h2>
            <span>最新上传资源</span>  
            </h2> 
            <div class="newUpload">
                 <div class="newUploadTab">
                      <ul>
                        <li><a href="?type=1" {if $type==1}class="cur"{/if} >教案</a></li>
                        <li><a href="?type=2" {if $type==2}class="cur"{/if} >课件</a></li>
                        <li><a href="?type=3" {if $type==3}class="cur"{/if} >题库</a></li>
                        <li><a href="?type=4" {if $type==4}class="cur"{/if} >素材</a></li>
                        <li><a href="?type=5" {if $type==5}class="cur"{/if} >微视频</a></li>
                      </ul>
                 </div>
                 <div class="newUploadContent">
                      <div class="piclist"> 
                         <ul class="list_picUp_230">
                             <li>
                             <a href="/xiaoxue/id/1" target="_blank" class="pic"><span>生命与安全资源:{$sm_count}</span><img src="/static/index/images/xl.jpg" alt="" width="240" height="164"></a> 
                             </li>
                              <li>
                             <a href="/xiaoxue/id/1/xk/9" target="_blank" class="pic"><span>心理健康资源:{$xl_count}</span><img src="/static/index/images/sm.jpg" alt="" width="240" height="164"></a> 
                             </li>
                              <li>
                             <a href="/xiaoxue/id/1/xk/9" target="_blank" class="pic"><span>语文资源:{$yw_count}</span><img src="/static/index/images/yw.jpg" alt="" width="240" height="164"></a> 
                             </li> 
                        </ul> 
                        <div class="f-cb"></div>
                      </div>
                      <div class="list">
                             <div class="list_pic30">
                             <ul>
                                   {loop $top_upload_resource['data'] $value} 
									<li>
                                            <a href="/info/{$value['id']}" target="_blank" class="pic {$value['file_type']}"></a>
                                            <dl>
                                                <dt><a href="/info/{$value['id']}" target="_blank" class="defaultDefHover">{$value['title']}</a></dt> 
                                            </dl> 
                                            <div class="f-cb"></div>
                                    </li> 
									{/loop}
									
                             </ul>
                             <div class="f-cb"></div>
                        </div> 
                      </div>
                 </div>
            </div>                
          </div>
          <!--最新上传资源结束-->           
          <!--热门资源开始-->
          <div class="module_titLine">
              <h2>
              <span>热门文档</span>  
              </h2> 
              <div class="hotResource ">
                    <div class="hottit hotTex">
                        <h2>
                           <i></i><span>热门文档</span>  
                        </h2> 
                        <ul class="list_upPic_126">
                        {loop $hot_doc['data'] $key $value}
                        <li>
                            <a href="/info/{$value['id']}" title="{$value['title']}" target="_blank" class="pic">
                                <img src="{HTTP_MFS_IMG}{$value['page_key']}" alt="">
                            </a>
                            <p>
                                <a href="/info/{$value['id']}" title="{$value['title']}" target="_blank" class="defaultDefHover f-fs14">
                                {cutstr($value['title'],30)}
                                </a>
                                <span>{$value['views']}人阅读</span>
                            </p>
                        </li>
						{/loop}
                          
                        </ul>
                        <div class="f-cb"></div>  
                    
                    </div>
                    <div class="hottit">
                        <h2>
                           <i></i><span>热门PPT</span>  
                        </h2> 
                        <ul class="list_upPic_126">
                        {loop $hot_ppt['data'] $key $value}
                        <li>
                            <a href="/info/{$value['id']}" title="{$value['title']}" target="_blank" class="pic">
                                <img  src="{HTTP_MFS_IMG}{$value['page_key']}" alt="">
                            </a>
                            <p>
                                <a href="/info/{$value['id']}" title="{$value['title']}" target="_blank" class="defaultDefHover f-fs14">
                                 {cutstr($value['title'],30)}
                                </a>
                                <span>{$value['views']}人阅读</span>
                            </p>
                        </li>
						{/loop}
                        </ul>
                        <div class="f-cb"></div>  
                    
                    </div>
                    <div class="hotVideo hottit">
                        <h2>
                           <i></i><span>热门视频</span>  
                        </h2> 
                        <ul class="list_upPic_126">
                        {loop $hot_video['data'] $key $value}
                        <li>
                            <a href="/info/{$value['id']}" title="{$value['title']}" target="_blank" class="pic"><i></i>
                                <img src="{HTTP_MFS_IMG}{$value['page_key']}" alt="">
                            </a>
                            <p>
                                <a href="/info/{$value['id']}" title="{$value['title']}" target="_blank" class="defaultDefHover f-fs14">
                                 {cutstr($value['title'],30)}
                                </a>
                                <span>{$value['views']}次播放</span>
                            </p>
                        </li>
						{/loop}	
                         
                        </ul>
                        <div class="f-cb"></div>  
                    
                    </div>

              </div>
          </div>     
          <!--热门资源开始-->
     </div>
     <div class="mainrig">
          <div class="module_titLine newActive" id="div_active">
              <h2>
              <span>最新动态</span>  
              </h2>  
			  <div style="overflow:hidden;">
              <ul class="list_pic40" style="position:relative;">
              {loop $all_resource['data'] $key $value}
			  {if $key<5}   	
              <li> 
                  <i></i>
                  <div class="time"><span><!--{eval echo Models_ResourceFile::init()->dateSpan($value['on_time'])}--></span></div>
                  <a href="{HTTP_DODOEDU}/{$value['user_id']}/Space/Index" title="" target="_blank" class="pic">
                       <img src="{$users[$key]['icon']}" width="40" alt="{$value['user_name']}">
                  </a>         
                  <dl>
                      <dt class="techerName">
                           <a href="{HTTP_DODOEDU}/{$value['user_id']}/Space/Index" title="" target="_blank" class="grayDefHover">{$users[$key]['real_name']} ({$users[$key]['role_name']})</a>
                      </dt>
                      <dd class="schName">
                           <a href="{HTTP_DODOEDU}/School_Home/index/school/{$users[$key]['school_id']}" title="" target="_blank" class="defaultDefHover f-fs12">{$users[$key]['school_name']}</a>
                      </dd>
                  </dl>
                  <p class="defaultFont">上传  <a href="/info/{$value['id']}" target="_blank">{$value['title']}</a></p>
                  <div class="f-cb"></div>
              </li>
			  {/if}
			  {/loop} 
             </ul> 
			 </div>
        </div> 

        <div class="module_titLine newActive activeTop">
              <h2>
              <span>活跃排行</span>  
              </h2>  
              <ul class="list_pic40">
              {loop  $top_users $value}
			   {if isset($value['real_name']) }
              <li>  
                  <div class="num"><span>{$value['c']}</span>份</div>
                  <a href="{HTTP_DODOEDU}/{$value['user_id']}/Space/Index" title="" target="_blank" class="pic">
                  	
                       <img src="{$value['icon']}" width="40" alt="{$value['real_name']}">
					  
                  </a>         
                  <dl>
                      <dt class="techerName">
                           <a href="{HTTP_DODOEDU}/{$value['user_id']}/Space/Index" title="" target="_blank" class="grayDefHover">{if isset($value['real_name'])}{$value['real_name']}{/if}</a>
                      </dt>
                      <dd class="schName">
                      	   {if isset($value['school_id'])}
                           <a href="{HTTP_DODOEDU}/School_Home/index/school/{$value['school_id']}" title="" target="_blank" class="defaultDefHover f-fs12">{$value['school_name']}</a>
						    {/if}
                      </dd>
                  </dl> 
                  <div class="f-cb"></div>
              </li>
			   {/if}  
			  {/loop}
              </ul>
              <div class="f-cb"></div>  

        </div>   
     </div>
     <div class="f-cb"></div>
 </div>
 </div>