 <script> 
var sid = "{$sid}";
var file_type = {$file_type};
</script>
<div class="main">
 <div class="warp"> 
   <!--面剥削开始--> 
    <div class="topNavLink">  
        <a href="/">首页</a>
        <span>></span>
        <a href="javascript:;">资源上传</a>
    </div>     
   <!--面剥削结束-->
    <div class="module_titLine">
      <div class="module_addSwfFir"> 
	  	  <span id="upload_span" class="add" >
		  <a href="javascript:;" id="spanSWFUploadButton" title="点击上传" class="add"></a>
		  </span>
		  <a href="javascript:;" class="allSub" title="全部提交"></a>
      </div>
      <div class="tit">
          <span>上传资源</span>   
          <div class="f-cb"></div>
      </div> 
      <!--上传须知 开始-->
      <div class="uploadTips">
      <div class="upLoadBtn">
          <a href="javascript:;" ></a>
          <p style="padding:20px 0 0 10px; color:#898989;">*最多一次添加五份资源</p>
      </div>
           <h2>上传须知！</h2>
           <p>1. 每次最多上传5份资源，每份资源不超过200M（文档不超过10M）;<br/>
2. 多多资源中心是开放的在线分享教育文档的平台，用户上传文档的真实性责任由用户自行承担;<br/>
3. 上传有问题或者需要帮助？请去多多资源中心小站、查看帮助说明或提交问题<br/>
4. 为了保证文档能正常阅读，我们支持以下格式的文档上传;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;4.1  MS  Office文档     文件后缀名为 doc，docx，ppt，pptx，xls，xlsx，vsd，pot，pps，rtf<br/>
&nbsp;&nbsp;&nbsp;&nbsp;4.2  WPS office系列     文件后缀名为 wps，et，dps<br/>
&nbsp;&nbsp;&nbsp;&nbsp;4.3  PDF       格式     文件后缀名为 pdf<br/>
&nbsp;&nbsp;&nbsp;&nbsp;4.4  纯文本    格式     文件后缀名为 txt <br/>
&nbsp;&nbsp;&nbsp;&nbsp;4.5  EPUB      格式     文件后缀名为 epub</p>
      </div> 
      <!--上传须知 结束-->
      <!--提交表单 开始-->
      <div class="tit titForm" style="display:none;"> 
      <h3 id="item-message-all" class="item-message-all item-message-all-ok"><b class="ic ic-status"></b><span><b>1</b>篇文档上传完毕！<span class="item-message-all-subtitle" style="color:#dcdddd;">填写好文档信息后点击“提交”</span></span></h3>
      <div id="item-progress-all" class="item-progress-wrap" style="">
      	<span class="item-progress"><span class="item-progress-inner" ></span>
		</span><span class="item-progress-text"></span></div> 
            <div class="f-cb"></div>
      </div> 
      <div class="subFrom"> 
        <!--单个开始-->
        <!--单个结束-->
          
      </div>  
      <!--提交表单 结束-->             
  </div>
                    

 </div>
 </div>
 
  