<div class="wk_footer" id="wk_footer">
	<div class="inner">
	<span class="floatR"><a href="http://static.dodoedu.com/shequPage/doc/多多社区用户使用手册.pdf" target="_black">用户手册</a> | <a href="http://static.dodoedu.com/shequPage/user/login/jobs.html" target="_black">招聘信息</a> | <a href="http://www.dodoedu.com/site/57900116/column/5" target="_black">更新日志</a></span>主管：湖北省教育厅　主办：长江出版传媒股份有限公司 湖北省教育信息化发展中心　承办：湖北博盛数字教育服务有限公司<br>服务邮箱：services@dodoedu.com  客服热线：400-8866-561 <span style="display:inline-block; vertical-align:top;*vertical-align:middle;margin:0 5px 0 0;"></span>鄂ICP备13014028号-1
    </div>
</div>
<script>
  /*
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45951615-1', 'dodoedu.com');
  ga('send', 'pageview');
*/

</script>
</body>
</html>