<div id="tab1" class="tabcontent">
    <div class="form">
       <form action="<!--{$addDoUrl}-->" method="post" id="cms_column_add_form" name="cate_form" class="ui-form">
	        <input type="hidden" name="data[pid]" value="{$pid}">

            <div class="form_row">
            	 <label><span class="ui-form-required">*</span>名称：</label>
                <input type="text" name="data[name]" id="name" datatype="*">
				<div class="info"><span class="ui-form-other"></span></div>
            </div>
            <div class="form_row">
            	 <label><span class="ui-form-required"></span>别名：</label>
                <input type="text" name="data[alias]" id="alias" >
				<div class="info"><span class="ui-form-other"></span></div>
            </div>


            <div class="form_row">
                <label>状态：</label>

                <input class="ui-radio" type="radio" name="data[is_ok]" id="is_ok" value="1"  datatype="*" />正常 
		        <input class="ui-radio" type="radio" name="data[is_ok]" id="is_ok" value="0"  />禁用

				<div class="info"><span class="ui-form-other"></span></div>
            </div>
            <div class="ui-form-item">
                <input type="submit" id="btn_submit" value="保存"/>
            </div> 
        </form>
       <script type="text/javascript">
				$(function(){
					syform_val('cms_column_add_form');
                    SetValue(cate_form["data[is_ok]"],"1");

				});
		</script>
    </div>
</div>

    
