<div id="ajaxpage" class="easyui-panel" style="padding:5px;" data-options="fit:true">
	<table id="edu-dg" title="<!--{$title}-->" class="easyui-treegrid" 
	data-options="
	rownumbers:true,
	fit:true,
	fitColumns:true,
	singleSelect:true,
	 
	lines: true,
	url:'<!--{eval echo $getJsonDataUrl}-->',
	method:'get',
	
	idField:'id',
	treeField:'xd_name',
	toolbar:'#edu-tb'">
	 
				
	  <thead>
		<tr>
          <th field='xd_name' width='50'>学段</th>
          <th field="xk_name" width="50">科目</th>
          <th field="bb_name" width="50">版本</th>
          <th field="nj_name" width="50">年级</th>
          <th field="cz" width="50">操作</th>
		</tr>
	  </thead>
	</table>
	<div id="edu-tb" style="padding:5px;height:auto">
		<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:ui_dialog( '<!--{$addUrl}-->?pid=0',this );">增加教育关系</a>
	</div>
</div>
