<!--{loop $data['rows'] $key $value}-->

<!--{eval $data['rows'][$key]['trindex']=$key+1;}-->
<!--{eval $data['rows'][$key]['trid']=$value['id'];}-->

 
<!--{eval $data['rows'][$key]['xd_name']= $node_name[$value['xd']]}-->
<!--{eval $data['rows'][$key]['xk_name']= $node_name[$value['xk']]}-->
<!--{eval $data['rows'][$key]['bb_name']= $node_name[$value['bb']]}-->
<!--{eval $data['rows'][$key]['nj_name']= $node_name[$value['nj']]}-->

<!--{eval $data['rows'][$key]['cz']="<a href=\"javascript:;\"  onclick=\"javascript:ui_dialog('{$editUrl}?id={$value['id']}&l={$value['level']}',this);\"><span class=\"icon-table icon-isedit\"></span>修改</a>";}-->

<!--{eval $data['rows'][$key]['cz'].=" <a href=\"javascript:;\"  onclick=\"javascript:ui_qr('{$delUrl}?id={$value['id']}',this);\"><span class=\"icon-table icon-isdel\"></span>删除</a>";}-->

{if $value['level']=='0'}
<!--{eval $data['rows'][$key]['cz'].=" <a href=\"javascript:;\"  onclick=\"javascript:ui_dialog('{$addUrl}?pid={$value['id']}&l={$value['level']}',this);\"><span class=\"icon-table icon-add\"></span>添加资源关系</a>";}-->
{/if}

 
<!--{/loop}-->

{if $data['rows']} 
<!--{eval echo json_encode($data['rows'])}-->
{else}
<!--{eval echo '[]'}-->
{/if}