<script>
	var id  = "{$vars['id']}";
	var uid  = "{$vars['uid']}";
</script>
<script type="text/javascript" src="{BASE_PATH}/statics/script/Dialog/artDialog.js?skin=default"></script>
<script type="text/javascript" src="{BASE_PATH}/statics/script/Dialog/iframeTools.js"></script>
<script type="text/javascript" src="{BASE_PATH}/statics/script/album.js"></script>
<div class="wk_wrapper wk_corpusPreview">
	<div class="main floatL width747">
    	<h1 class="wk_titleIndex font22">文集浏览</h1>
      <dl class="someCorpusInfo">
        	<dt class="font16"><strong>{$vars['album_info']['title']}</strong></dt>
            <dd class="mB15">分类：教育专区&gt;小学教育&gt;数学</dd>
            <dd class="mB15">
                <div class="floatL width140">浏览量：<strong class="orangeTxt">{$vars['album_info']['views']}</strong></div>
                <div class="floatL width140">收藏量：<strong class="orangeTxt">{$vars['album_info']['favs']}</strong></div>
                <div class="floatL width140">文档数量：<strong class="orangeTxt">{$vars['count']}</strong></div>
                <div class="clearFloat"></div>
            </dd>
            <dd class="mB15">
                <div class="floatL width140">创建时间：<strong class="grayTxt">{date('Y.m.d',$vars['album_info']['on_time'])}</strong></div>
                <div class="floatL width140">创建者：<a href="{BASE_PATH}/ta/{$vars['album_info']['uid']}">{$vars['album_info']['user_name']}</a></div>
                <div class="floatL width260"><div class="docRate floatR greenTxt width200">
                	{$vars['star_html']}
				<strong><em>评分：</em><em class="font25">{$vars['album_info']['remark']}</em></strong>
                    </div>用户评价：<div class="clearFloat"></div>
                </div>
                <div class="clearFloat"></div>
            </dd>
            <dd class="mB15">文集简介：{$vars['album_info']['desc']}</dd>
            <dd class="mB15">标签：
			<a title="" href="">数学</a>&#12288;<a title="" href="">奥林匹克</a>&#12288;<a title="" href="">竞赛</a>
			</dd>
            <dd class="mB15 rate" id="dd_stars">你来评分：<span name="i_stars"><i class="icon_rateBStarOff"></i><i class="icon_rateBStarOff"></i><i class="icon_rateBStarOff"></i><i class="icon_rateBStarOff"></i><i class="icon_rateBStarOff"></i></span><span class="orangeTxt mR15 mL10 verM">很难理解！</span>
			{if $vars['is_fav']}
			<a class="collectFinishBtn"   href="javascript:void(0)"></a>
			{else}
			<a class="collectBtn" data-url="{BASE_PATH}/Album/fav?id={$vars['id']}" href="javascript:void(0)"></a>
			{/if}
			</dd>
        </dl>
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="someCorpusDocList">
          <tbody><tr>
            <td width="40" align="center">格式</td>
            <td align="left">文档标题</td>
            <td align="center">用户评分</td>
            <td align="center">浏览量</td>
            <td align="center">下载量</td>
          </tr>
		  {loop $vars['docs'] $v}
          <tr>
            <td align="center"><i class="icon_{$v['doc_ext_name']}"></i></td>
            <td align="left"><a  title="{$v['doc_title']}" href="{BASE_PATH}/View/{$v['doc_id']}">{$v['doc_title']}</a>
			{if $vars['is_del']}
			(<a href="javascript:void(0)" class="blackA" data-url="{BASE_PATH}/Album/del_file?album_id={$vars['id']}&doc_id={$v['doc_id']}">移除</a>)
			{/if}
			</td>
            <td align="center"><!--{eval  echo  get_star($v['remark'])}--><span class="grayTxt1">{$v['remark']}</span></td>
            <td align="center"><strong class="grayTxt1">{$v['doc_views']}</strong></td>
            <td align="center"><strong class="grayTxt1">{$v['doc_downs']}</strong></td>
          </tr>
		  {/loop}
           
        </tbody></table>
  </div>
    <div class="sidebar floatR width200 mT5">
    	<a title="" href=""><img alt="" src="/statics/images/ad5.gif"></a>
        <a class="newCorpusBtn whiteA font14 mT15" target="_blank" id="album_create" data-url="/User/creatAlbum" href="javascript:void(0)"><strong>创建文集</strong></a>
    	<h1 class="wk_titleIndex font22 mT5">相关文集推荐</h1>
        {loop $vars['relation'] $v}
		<dl class="docRec mT20">
            <dt><i class="icon_corpus"></i><a class="font14"  href="{BASE_PATH}/album/{$v['album_id']}">{$v['title']}</a></dt>
            <dd class="grayTxt1">评价得分：<strong>{$v['remark']}</strong>分&#12288;收藏量：<strong>{$v['favs']}</strong></dd>
        </dl>
		{/loop}
		{widget('Sug','index')}
    </div>
</div>