<script src="/static/syup/syup.js"></script>
<div id="tab1" class="tabcontent">
    <div class="form">
       <form action="<!--{$import_do_url}-->" method="post" id="unit_import_form" name="unit_import_form" class="ui-form">
			<input type="hidden" name="data[xd]" id="xd" value="{$xd}">
			<input type="hidden" name="data[xk]" id="xk" value="{$xk}">
			<input type="hidden" name="data[bb]" id="bb" value="{$bb}">
			<input type="hidden" name="data[nj]" id="nj" value="{$nj}">
			<input type="hidden" name="data[node_show]" id="node_show" value="1">
			<input type="hidden" name="data[file_path]" id="file_path" >
	
            <div class="form_row">
                <label><span class="ui-form-required  easyui-tooltip" title="This is the tooltip message."></span>导入文件：</label>
				   <DIV id="demo2"></DIV><div id="tip2"></div>
    <script>
    new syup({
        path: '/static/',
        div_id:'demo2',
        form_id:'input2',
        tip_id:'tip2',
        up_text: '上传文件',
        up_maxsize: 1024*1024*1000,
        up_filter: '*.xls;*.xlsx;',
        up_url: '{$import_file_url}',//上传保存地址
        skin:'/static/syup/skin/green',
		up_callback:upCallback
    }).show();
	function upCallback(up_obj, type, str){
		if(type=="one_complete"){
			$("#file_path").val(str);
		}
	}
    </script>
				<div class="info"><span class="ui-form-other">只支持excel文件</span></div>
            </div>
			
            <div class="ui-form-item">
                <input type="submit" id="btn_submit" value="保存"/>
            </div> 
        </form>
       <script type="text/javascript">
				$(function(){
					syform_val('unit_import_form');
                   // SetValue(unit_import_form["data[node_show]"],"1");
				});
		</script>
    </div>
</div>

    
