<div id="ajaxpage" class="easyui-panel" style="padding:5px;" data-options="fit:true">
	<table id="unit-dg" title="<!--{$title}-->" class="easyui-treegrid" data-options="rownumbers:true,fit:true,
	fitColumns:true,
	singleSelect:false,
	pagination:true,url:'<!--{$getJsonDataUrl}-->',
	method:'get',
	pageSize:20,
	idField:'id',
	 
	treeField:'node_title',
	toolbar:'#unit-tb'
	">
	  <thead>
		<tr>
		<th data-options="field:'ck',checkbox:true"></th>
          <th field='node_title' width='50'>节点名称</th>
          <th field='code' width='50'>节点编号</th>
          <th field="node_show" width="50">状态</th>
          <th field="node_order" width="50">排序</th>
          <th field="cz" width="50">操作</th>
		</tr>
	  </thead>
	</table>
	<div id="unit-tb" style="padding:5px;height:auto">
		<div>
		 
			基础节点选择: 
			<input id="nodelist" class="easyui-combotree"  style="width:200px;">
			
		 	<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:ui_dialog( '<!--{$addUrl}-->?node_id='+$('#nodelist').combotree('getValue'),this );">增加</a>
			<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-back" plain="true" onclick="javascript:ui_dialog( '<!--{$import_url}-->?node_id='+$('#nodelist').combotree('getValue'),this );">批量导入知识节点</a>
			<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-remove" plain="true" 
			onclick="javascript:delAll(this);">删除选中的</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	  function delAll(obj){
	  	var url = '<!--{$delUrl}-->?';
	  	var nodes = $('#unit-dg').treegrid('getSelections');
		var s = '';
		for(var i=0; i<nodes.length; i++){
                if (s != '') s += '&';
                s += "node_id[]="+nodes[i].id;
            }
           // alert(s);
		url += s;
		//alert(url);
		ui_qr(url,obj,false);
	  }
	  $('#nodelist').combotree({
		    url: '{$get_node_url}',
			method:'get',
		    required: true,
			onChange:function(){
				 get_node();
			},
		});
		function get_node(){
			//var obj = document.getElementById("grouplist");
			var val = $('#nodelist').combotree('getValue');
			//alert(val);
			treeload('unit',{node_id:val});
		}
</script>